@font-face {
  font-family: roboto;
  src: 
    local('Roboto'),
    url('/public/Roboto/Roboto-Regular.ttf'),
    url('/public/Roboto/Roboto-Medium.ttf'),
    url('/public/Roboto/Roboto-Bold.ttf');
}

.content-container {
  display: flex;
  min-height: calc(100vh - 64px);
  flex-direction: column;
  box-sizing: border-box;

  font-family: roboto, sans-serif;
  color: rgb(51, 51, 51);
  background-color: rgb(240, 241, 242);
}

h1, h2, h3, h4, p {
  margin: 0;
  margin-bottom: 2rem;

  letter-spacing: 0.015rem;
}

h2 {
  font-size: 1.25em;
}

.nav {
  background-color: white;
  width: 100%;
  height: 64px;
  box-shadow: 0 2px 4px 0 rgba(0,0,0,.12);
}

footer {
  text-align: center;
  letter-spacing: 0.02rem;
  font-size: 0.75em;
  color: rgb(73, 73, 73);
}

footer img {
  width: 84px;
  height: 53px;
}

.banner {
  width: 100%;
  height: 192px;

  background-position: 50% center;
  background-size: cover;
  /*background-image: url("https://wd10.myworkday.com/wday/pex/graphql/images/ubc/eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJtZXNzYWdlIjoie1wiaWRcIjpcIjVlYjQ0NjA2ZWUyMjAxZWFmNDk0NWQ4MDY1MDE5YjJhXCJ9IiwiaWF0IjoxNzE4NTgyNDAwLCJleHAiOjE3MTg2NzYwMDB9.Bg8jzUOGu1e3TuUFmAeW0NVWq-2TQcv30-nfVfCKg5s");*/
  /*background-image: url('https://upload.wikimedia.org/wikipedia/commons/thumb/8/86/Irving_K._Barber_Library.jpg/640px-Irving_K._Barber_Library.jpg');*/
  background-image: url('/public/workdaybanner.jpg');
}

.home {
  display: flex;
  flex-direction: row;
  max-width: 1344px;
  margin: 2em auto;
  width: 100%;
  padding-inline: 2em;
  box-sizing: inherit;
}

.home > .left {
  width: 80%;
  max-width: 840px;
}

.home > .right {
  flex-grow: 1;
  margin-left: 2em;
}

.date {
  font-size: 1.25rem;
  color: rgb(94, 106, 117);
  margin-top: 0.6em;
}

.home-section {
  margin-bottom: 2rem;
  background-color: white;
  padding-block: 1.5rem;
  padding-inline: 1.5rem;
  border-radius: 1rem;
  box-shadow: rgba(0, 0, 0, 0.08) 0px 2px 4px;
}

.home-section p {
  margin-bottom: 1.5rem;
  color: rgb(94, 106, 117);
  text-align: center;
}

.home-section ul {
  margin: 0;
  padding: 0;

  list-style: none;
}

.home-section ul a {
  display: flex;
  width: 100%;
  padding: 0;
  margin-bottom: 0.5em;
  border-radius: 8px;
  border: none;
  background: none;

  text-align: left;
  text-decoration: none;
  cursor: pointer;
}

.home-section ul a:hover {
  background-color: rgb(223, 226, 230);
}

.home-section ul .app-icon {
  width: 64px;
  height: 68px;
}

.home-section ul h3 {
  margin: auto 1em;
  font-size: 1.125rem;
  line-height: 1.75rem;
  font-weight: 700;
  color: rgb(73, 73, 73);
}

.pageheader {
  display: flex;
  width: 100%;
  height: 66.5px;
  background-color: rgb(0, 33, 69);
  color: white;
}

.pageheader h1 {
  margin: auto 1em;
  font-size: 1.5em;
}

.pageheader a {
  padding: 0 0.4em;
  vertical-align: middle;
  color: inherit;
  opacity: 0.9;
}

.pageheader a:hover {
  opacity: 1;
}

.tabmenu {
  background-color: white;
  font-size: 13px;
}

.tabmenu ul {
  list-style: none;
  margin: 0;
}

.tabmenu ul li {
  height: 49px;
  vertical-align: middle;
  display: inline-block;
  line-height: 44px;
  margin-right: 3em;
  border-bottom: 4px solid transparent;
}

.tabmenu ul li a {
  color: inherit;
  text-decoration: none;
}

.tabmenu ul li.selected {
  border-color: #005dba;
}

.section-container {
  margin: 2em 2.5em;
  height: 500px;
  position: relative;
}

.section-box {
  position: absolute;
  min-height: 80px;
  border-radius: 3px;

  box-shadow: 0 1px 3px 0 rgba(10, 22, 29, 0.05);
}

div.section-box {
  padding: 1em;
  background-color: white;
}

.section-box h2, .section-box p {
  margin-bottom: 1rem;
}

.section-box h2 {
  color: #5b6166;
  font-weight: 400;
  font-size: 18px;
}

.section-box p, .section-box table {
  font-size: 13px;
}

.progress {
  width: 30%;
  padding: 1em;
  background-color: white;
  animation: progress-intro 2s 1, progress-idle 1.5s 2s infinite;
}

.progress h3 {
  margin: 0 6em 0 0;

  font-size: 15px;
  line-height: 22px;
  font-weight: 500;
}

.progress .satisfied {
  font-size: 18px;
  color: #58b7df;
  line-height: 22px;
}

.progress .out-of {
  color: dimgray;
  font-size: 12px;
}

.progress .average {
  font-size: 13px;
}

.progress .average span {
  margin-left: 40px;
  animation: flashing-average 0.25s alternate-reverse infinite ease-in-out;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  width: 350px;
}

.progress-flex {
  display: flex;
  margin-top: 2em;
}

.progress-circle {
  width: 90px;
  position: relative;
  background-color: #EEE;
  margin: 0 2em 3em 6em;
  aspect-ratio: 1;
  clip-path: circle(50%);
}

.progress-circle-inner {
  position: absolute;
  width: 80%;
  border-radius: 100%;
  aspect-ratio: 1;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  background-color: white;

  text-align: center;
  color: #58b7df;
  font-size: 1.3em;
}

.progress-circle-inner span {
  transform: translate(-50%,-50%);
  position: absolute;
  top: 50%;
  left: 50%;
}

.progress-circle-filled {
  height: 15px;
  width: 100px;
  position: fixed;
  bottom: 4.5em;
  left: 6em;
  transform-origin: top;
  background-color: #58b7df;
  animation: progress-filled-intro 1.25s 3 linear, progress-filled-shake 3s 3.75s infinite alternate ease-in-out;
}

.holds {
  width: 30%;
  padding: 1em;
  left: calc(30% + 3em);
  background-color: white;
  animation: holds-intro 0.5s 1, holds-idle 1.5s 0.5s infinite alternate;
}

.links {
  position: absolute;
  width: 34%;
  right: 0;
}

.links ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

.links ul li {
  position: relative;
  margin-bottom: 5px;
  font-size: 13px;
  background-color: white;
}
.links li.section-box {
  padding: 1em 0;
}

.links h2 {
  padding: 5px 20px 10px 20px;
  margin: 0;
}

.links ul li a, .links ul li button {
  display: block;
  background: none;
  padding: 0.75em 20px;
  border: none;
  width: 100%;
  box-sizing: border-box;

  text-align: left;
  font-weight: 500;
  color: inherit;
  text-decoration: none;
  font-size: inherit;
  font-family: inherit;
}
.links ul li a:hover, .links ul li button:hover {
  background-color: #EEE;
  color: inherit;
  cursor: pointer;
}

.records {
  animation: records-intro 3s 1;
}

.records-first {
  animation: records-items 0.5s infinite alternate ease-in-out;
}

.records-second {
  animation: records-items 0.5s 0.1s infinite alternate ease-in-out;
}

.records-third {
  animation: records-items 0.5s 0.2s infinite alternate ease-in-out;
}
.records-fourth {
  animation: records-items 0.5s 0.3s infinite alternate ease-in-out;
}

@keyframes flashing-average {
  0% {color: #470202; letter-spacing: -0.1em; font-size: 40px;}
  100% {color: red; letter-spacing: 0.25em; font-size: 13px;}
}

@keyframes progress-filled-intro {
  0% {transform: rotate(0);}
  25% {transform: rotate(30deg);}
  75% {transform: rotate(-30deg);}
  100% {transform: rotate(0);}
}

@keyframes progress-filled-shake {
  0% {height: 15px; transform: rotate(0);}
  15% {height: 17px; transform: rotate(3deg);}
  30% {transform: rotate(-3deg);}
  50% {height: 14px;transform: rotate(0);}
  80% {height: 20px; transform: rotate(3deg);}
  100% {height: 15px; transform: rotate(-3deg);}
}

@keyframes progress-intro {
  0% {width: 30%; left: -100px; top: 10%; transform: rotate(0);}
  30% {left: 100px; top: 0;}
  60% {left: 0; top: 80%;}
  90% {width: 25%; left: 70%; top: -10px; transform: rotate(360deg);}
  100% {width: 30%; left: 0; top: 0; transform: rotate(360deg);}
}

@keyframes progress-idle {
  0% {top: 0; transform: rotate(0);}
  30% {top: 15px; transform: rotate(3deg);}
  60% {top: 5px;transform: rotate(-3deg);}
  100% {top: 0;transform: rotate(0);}
}

@keyframes holds-intro {
  0% {top: -100px}
  60% {top: 100%}
  100% {top: 0}
}

@keyframes holds-idle {
  0% {top: 0}
  60% {top: 50px}
  100% {top: -50px}
}

@keyframes records-intro {
  0% {top: 100%}
  100% {top: 0}
}

@keyframes records-items {
  0% {left: -1em}
  100% {left: 1em}
}


/* Registration */
.appointments {
  width: 30%;
  height: 30%;
  padding: 1em;
  left: 0;
  background-color: white;
  animation: registration-wait 6s 1, registration-intro 6s 6s 1 ease-out;
}

.appointments div {
  width: 100%;
  overflow: auto;
  height: 70%;
  box-sizing: border-box;
}

.appointments table {
  width: 1000px;
  margin: 1em;
}

.appointment-page{
  left: 50%;
  transform: translateX(-50%);
}

.section-box th {
  border: 1px solid rgb(212, 212, 212);
  padding: 1em;
  line-height: 2em;
  background-color: #EEE;
  font-weight: 500;
}

.section-box table td {
  padding: 1em;
  border: 1px solid rgb(212, 212, 212);
  text-align: center;
}


@keyframes registration-intro {
  0% {opacity: 0; top: 100%; touch-action: none; pointer-events: none;}
  100% {opacity: 100%; top: 0; touch-action: auto; pointer-events: auto;}
}

@keyframes registration-wait {
  0% {opacity: 0;}
  100% {opacity: 0;}
}

.schedule {
  width: 30%;
  padding: 1em;
  left: calc(30% + 3em);
  background-color: white;
  animation: registration-wait 15s 1, registration-intro 6s 12s 1 ease-out;
}

.reg-links {
  animation: registration-intro 6s 1 ease-out;
}

dialog {
  padding: 0;
  margin-top: 12vh;
  max-width: 1024px;
  min-width: 640px;
  border: none;
  border-radius: 1em;
  overflow: unset;
  h1 {
    border-bottom: 1px solid #dfe2e6;
    padding: 1.2em 2em;
    margin: 0;
    width: 100%;
    box-sizing: border-box;

    color: rgb(51, 51, 51);
    font-size: 1.1em;
  }
  ul {
    list-style: none;
    padding: 0 2em;
  }
  label {
    margin-right: 1em;
    color: #494949;
    font-size: 0.9em;
    font-weight: 600;
  }
  input[type="text"] {
    width: 246px;
    height: 36px;
    padding: 8px 8px 8px 12px;
    box-sizing: border-box;
    border: none;
    background: none;
  }
  input:focus-visible {
    border: none;
  }
}

@keyframes angry {
  0% {background-color: white;}
  10% {background-color: red;}
  100% {background-color: white;}
}

@keyframes shake {
  0% {transform: rotate(0);}
  25% {transform: rotate(10deg);}
  75% {transform: rotate(-10deg);}
  100% {transform: rotate(0);}
}

.options {
  display: none;
  width: 100%;
  position: absolute;
  left: -2px;
  background-color: white;
  border: 2px solid #0875e1;
  border-radius: 0 0 4px 4px;
  border-top-width: 1px;
  border-top-color: #a1aab3;
}

.annoying-selector:focus-within .options, .options:focus-within {
  display: block;
}
.annoying-selector {
  height: 100%;
  display: inline-block;
  width: fit-content;
  position: relative;
  border-radius: 4px;
  border: 2px solid #0875e1;
}

.annoying-selector ul {
  padding: 0;
  width: 100%;
}

.date-options li {
  width: 100%;
}

ul.selected-list {
  padding: 0.35em;
}

.selected-list li {
  width: fit-content;
  display: inline;
  margin-right: 0.25em;
  padding: 0.1em;
  font-size: 0.8em;
  color: rgb(51, 51, 51);
  background-color: rgb(232, 235, 237);
}

.annoying-selector button {

  padding: 8px 8px 8px 12px;
  box-sizing: border-box;
  width: 100%;
  background: none;
  border:none;
  color: rgb(73, 73, 73);
  text-align: left;
}

.annoying-selector ul button:hover {
  background-color: rgb(230, 235, 237);
  cursor: pointer;
}

.annoying-selector ul button:hover > * {
  cursor: pointer;
}

.annoying-selector button.options-header {
  font-weight: 600;
  font-size: 0.9em;
  border-bottom: 1px solid #a1aab3;
}

button:hover {
  cursor: pointer;
}

.stupid-fucking-modal--buttons {
  margin-top: 5em;
  padding: 0.5em 1.5em;
  border-top: 1px solid #dfe2e6;
  display: flex;
  justify-content: right;
}

.stupid-fucking-modal--buttons button {
  margin: 0.5em;
  border: none;
  border-radius: 2em;
  padding: 1em 0;
  width: 110px;
  text-align: center;
  color: white;
  font-weight: 600;
}
.stupid-fucking-modal--buttons button.ok {
  background-color: orange;
  color: white;
}
.stupid-fucking-modal--buttons button.ok:hover {
  background-color: hsla(34, 100%, 47.5%, 1);
}

.stupid-fucking-modal--buttons button.cancel {
  color: hsla(0, 0%, 20%, 1);
  background: none;
  border: 1px solid;
}
.stupid-fucking-modal--buttons button.cancel:hover {
  color: white;
  background-color: hsla(0, 0%, 20%, 1);
}

.info-bar {
  background-color: white;
  font-size: 13px;
  padding: 0 3em 3em 3em;
}

.info-segment-idk {
  display: flex;
  margin: 1em 0;
}

.info-segment-idk label {
  color: #494949;
  font-size: 1em;
  font-weight: 600;
}

.info-segment-idk ul {
  display: inline-block;
  margin: 0;
  list-style: none;
  padding-left: 1.5em;
}

.info-segment-idk ul li {
  width: fit-content;
  margin-bottom: 0.5em;
}

.terrible-spreadsheet-mf {
  margin: 2em 0;
  display: flex;
}

.terrible-spreadsheet-mf .filters {
  padding: 1em 2.5em;
  background-color: white;
  box-sizing: border-box;
  width: 300px;
  flex-shrink: 0;
}

.terrible-spreadsheet-mf .results {
  margin: 0 2.5em;
  flex-grow: 1;
  min-height: 60vh;
  position: relative;
  padding: 1em 0;
}

.terrible-spreadsheet-mf .results h2 {
  margin-bottom: 1em;
}

.terrible-spreadsheet-mf .results ul {
  padding: 0;
  position: relative;
}

.edge {
  width: 5px;
  aspect-ratio: 1;
  position: absolute;
  background-color: red;
}

.origin {
  width: 5px;
  aspect-ratio: 1;
  position: absolute;
  background-color: lime;
  z-index: 10;
}

.ease-in .comics {
  transition-duration: 2s;
}

.comics > img {
  height: 200px;
}

.comics {
  padding: 0;
  border-radius: 0;
  border: none;
}

.animating .comics > img {
  height: auto;
}

.sky {
  height: 70vh;
  max-width: 100%;
  margin: 2em;
  position: relative;
  cursor: crosshair;
  overflow-x: clip;
  overflow-y: hidden;
}

.courseBox {
  margin: 1em auto;
  transition-duration: 0.1s;
  background-color: #DDD;
  padding: 0.25em;
  max-width: 300px;
}

.movin-now .courseBox {
  position: absolute;
  margin: 0;
}

.courseBox * {
  margin: 0;
}